/*
Custom CSS styles that override base theme go here.
*/

.region-header .block {
  margin-bottom:0;
}

.header-block .header-left {
  float:left;
  overflow:hidden;
  width:60%;
}

.header-block .header-right {
  float:right;
  overflow:hidden;
  width:40%;
  max-width:386px;
  padding-top:30px;
}

.header-right img {
  width:100%;
  max-width: 386px;
  height:auto;
  display: block;
}

.header-block p.course-name a {
  font-size:30px;
}

.header-block p.course-slogan {
  font-size:18px;
  margin-top:-9px;
}

.header-block p.course-city-state {
  font-size:20px;
  margin-top:15px;
}

.header-block p.course-venue-date {
  font-size:18px;
}

.menu li.participant-experience {
  width:20%;
}

.menu li.overview {
  width:13%;
}

.header-block .course-venue-date {
  font-size:22px;
}

.front .views-field-field-hero-image,
.page-accreditation .views-field-field-hero-image {
  width:100%;
  float:none;
}

.front .hero-copy,
.page-accreditation .hero-copy {
  display:none;
}

.header-block p.course-name a {
  line-height: auto;
}

.header-block {
  background-image:none;
  padding-right:0;
  position:relative;
}

a,
a:link,
a:active,
a:visited {
 color:#0000ff;
}

.contact-link a {
  color: #544e49;
}

.online-reg, .print-reg {
  display:block;
}
.online-reg a,
.online-reg a:active,
.online-reg a:visited {
  color:#830808;
}

.block-course-info .earlybird,
.block-course-info .earlybird-expired {
  background-color:#830808;
}

.bio-full,
.close-me,
.open .read-more {
  display:none;
}

.open .close-me {
  display:block;
}

.brochure-block .contact-link {
  display:none;
}

@media (max-width:1150px) {
  .header-block p.course-name a {
    font-size:27px;
  }

}

@media (max-width:1050px) {

  .header-block p.course-name a {
    font-size:22px;
  }

  .header-block p.course-slogan {
    font-size:16px;
    margin-top:-9px;
  }

  .header-block p.course-city-state,
  .header-block p.course-venue-date {
    font-size: 17px;
  }

  .header-block p.course-city-state {
    margin-top: 13px;
  }  
}

@media (max-width:1015px) {
  .menu li {
    width:16%;
  }

  .nav ul.menu li.schedule,
  .nav ul.menu li.faculty {
    width:13%;
  }
  
  .menu li.participant-experience {
    width:21%;
  }

  .nav ul.menu li.registration-information {
    width:23.4%;
  }
}

@media (max-width:880px) {
  .header-block p.course-name a {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 10px;
    display: block;
  }

  .header-block p.course-venue-date {
    line-height:20px;
  }
}

@media (max-width:850px) {
  .menu li {
    width:17%;
  }

  .menu li.participant-experience {
    width:22%;
  }

  .nav ul.menu li.overview,
  .nav ul.menu li.schedule,
  .nav ul.menu li.faculty {
    width:12%;
  }  

  .nav ul.menu li.registration-information {
    width:24%;
  }
}

@media (max-width:790px) {
  .header-block .header-left,
  .header-block .header-right {
    width:100%;
    float:none;
    clear:both;
    padding:0;
  }

  .header-block,
  .header-block p.course-name a {
    padding:0;
  }
}

@media (max-width:610px) {
  body .header-block p.course-name a {
    line-height:22px;
  }

  body .header-block p.course-prefix,
  body .header-block p.course-slogan {
    line-height:18px;
  }
}
